<mat-card>
  <mat-card-header>
    <mat-form-field>
      <input
        matInput
        (keyup)="Filterchange($event)"
        placeholder="Search in Text Content"
      />
    </mat-form-field>
  </mat-card-header>
  <div>
    <mat-card-content>
      <mat-table
        matSort
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="crash_date">
          <mat-header-cell mat-sort-header mat-header-cell *matHeaderCellDef
            >Crash Date</mat-header-cell
          >
          <mat-cell *matCellDef="let element">
            {{ element.crash_date }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="crash_time">
          <mat-header-cell mat-sort-header mat-header-cell *matHeaderCellDef
            >crash time</mat-header-cell
          >
          <mat-cell *matCellDef="let element">
            {{ element.crash_time }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="number_of_persons_injured">
          <mat-header-cell mat-sort-header mat-header-cell *matHeaderCellDef>
            Number of Persons Injured
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.number_of_persons_injured }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="contributing_factor_vehicle_1">
          <mat-header-cell mat-sort-header mat-header-cell *matHeaderCellDef>
            Contributing Factor Vehicle_1
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.contributing_factor_vehicle_1 }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="contributing_factor_vehicle_2">
          <mat-header-cell mat-sort-header mat-header-cell *matHeaderCellDef>
            Contributing Factor Vehicle_2
          </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element">
            {{ element.contributing_factor_vehicle_2 }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="vehicle_type_code1">
          <mat-header-cell mat-sort-header mat-header-cell *matHeaderCellDef>
            Vehicle Type Code_1
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.vehicle_type_code1 }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="vehicle_type_code2">
          <mat-header-cell mat-sort-header mat-header-cell *matHeaderCellDef>
            Vehicle Type Code_2
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.vehicle_type_code2 }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </mat-card-content>
  </div>
  <br />
  <mat-card-footer>
    <mat-paginator
      #paginator
      [pageSizeOptions]="[10, 15, 20, 25, 30]"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-footer>
</mat-card>

<!-- <mat-card-content>
      <table
        matSort
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="crash_date">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>Crash_Date</th>
          <td mat-cell *matCellDef="let element">
            {{ element.crash_date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="crash_time">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>crash_time</th>
          <td mat-cell *matCellDef="let element">
            {{ element.crash_time }}
          </td>
        </ng-container>
        <ng-container matColumnDef="number_of_persons_injured">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>
            number_of_persons_injured
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.number_of_persons_injured }}
          </td>
        </ng-container>-->
<!-- <ng-container matColumnDef="number_of_persons_killed">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>
          number_of_persons_killed
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.number_of_persons_killed }}
        </td>
      </ng-container>

        <ng-container matColumnDef="contributing_factor_vehicle_1">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>
            contributing_factor_vehicle_1
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.contributing_factor_vehicle_1 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="contributing_factor_vehicle_2">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>
            contributing_factor_vehicle_2
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.contributing_factor_vehicle_2 }}
          </td>
        </ng-container>

        <ng-container matColumnDef="vehicle_type_code1">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>
            vehicle_type_code1
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.vehicle_type_code1 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="vehicle_type_code2">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>
            vehicle_type_code2
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.vehicle_type_code2 }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card-content>
  </div>
  <br />
  <mat-card-footer>
    <mat-paginator
      #paginator
      [pageSizeOptions]="[10, 15, 20, 25, 30]"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-footer>
</mat-card> -->
