<div class="container">
  <div class="my-5">
    <div class="row align-items-strech">
      <div class="col-12 col-md-4 mb-3">
        <div class="card h-100">
          <img
            class="card-img-top"
            src="../../../assets/imgs/ContributingFactor.png"
            alt="Causes of Car Accidents"
          />
          <div class="card-body d-flex flex-column">
            <h4 class="card-title">
              What Causes Car Accidents in New York City?
            </h4>
            <p class="card-text">
              Car accidents happen every day in New York City. These collisions
              and crashes happen for many different reasons. However, certain
              things tend to factor into the equation more often than others.
              According to the NYPD, the three leading causes of traffic
              accidents in the analyzed 1000 records are:
            </p>
            <ul>
              <li>Driver Inattention / Distraction (22.5%)</li>
              <li>Failure to Yield Right-of-way (7.1%)</li>
              <li>Unsafe Speed (4.9%)</li>
            </ul>

            <span class="d-flex align-items-end" style="flex: 1"> </span>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 mb-3">
        <div class="card h-100">
          <img
            class="card-img-top"
            src="../../../assets/imgs/InjureKills.png"
            alt="Accidents Resulting in an Injury and Killed"
          />
          <div class="card-body d-flex flex-column">
            <h4 class="card-title">
              Accidents Resulting in an Injury and Killed
            </h4>
            <p class="card-text">
              According to the open source, most collision won't cause injury or
              death which is about 67.6% chance. There are about 2.3% chance of
              having one person injured. For 1000 car incidents, there are 16
              people injured and 2 people dead.
            </p>
            <span class="d-flex align-items-end" style="flex: 1"> </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <div class="card h-100">
          <img
            class="card-img-top"
            src="../../../assets/imgs/CrashTime.png"
            alt="Accidents Resulting in an Injury and Killed"
          />
          <div class="card-body d-flex flex-column">
            <h4 class="card-title">When Do Most NYC Car Accidents Happen?</h4>
            <p class="card-text">
              There are often some hours in a day which we observee more
              accidents than other times in a day. According to the NYPD's crash
              data, 5 PM is the time with the highest number of reported
              accidents (69 cases), followed closely by 6 PM (60 cases). This
              makes logical senses that these are the rush hours with more cars
              on the roads.
            </p>

            <span class="d-flex align-items-end" style="flex: 1"> </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <div class="card h-100">
          <img
            class="card-img-top"
            src="../../../assets/imgs/Boroughs.png"
            alt="Accidents Resulting in an Injury and Killed"
          />
          <div class="card-body d-flex flex-column">
            <h4 class="card-title">
              Traffic Accidents Occured the Most in which NYC Borough?
            </h4>
            <p class="card-text">
              Which borough is the most dangerous for drivers? Brooklyn. In
              these 1000 cases, roughly one-fourth (22.3 %) of all NYC accidents
              happened there. Queens, Manhattan, and the Bronx are also quite
              dangerous. Those boroughs account for 17.4%, 11.1%, and 8.9% of
              accidents, respectively. Staten Island reports the fewest number
              of accidents. This borough sees less than 6 percent of the city's
              collisions.
            </p>

            <span class="d-flex align-items-end" style="flex: 1"> </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
